{% extends 'base.html' %}
{% block content %}

<h2>Przygarnij Kwiatka :)</h2>
<p>Przygarnij Kwiatka jest stroną pomagającą odnaleźć się ludziom chcącym wymienić się roślinami. Strona jest bezpłatna i jedynie pośredniczy między użytkownikami. Aby oddać, lub zamienić roślinkę dodaj swoje ogłoszenie, a informacje o zainteresowanych osobach dostaniesz na maila.
</p>
<br>
<p>Wszelkie pytania i sugestie proszę przesyłać na <i>przygarnijkwiatka</i> (małpa) <i>gmail</i> (kropka) <i>com</i> .</p>

{% endblock %}

