{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}


<h1>{{ adv.title }}</h1>

<div style="clear: both"></div>
<p class="right"><span>Autor:</span><a href="{% url user adv.user %}">{{ adv.user }}</a></p>
<div style="clear: both"></div>
<p class="left"><span> Miasto: </span> {{ adv.city }}</p>
<p class="right"><span>Dodano: </span> {{ adv.add_time|date:"d-m-y" }}</p>
    </br>
    <hr>

    <p><Span>Co:</Span> {{ adv.what|linebreaks }}</p>
    </br>

    {% if adv.what_for %}
        <p><Span>Za co:</Span>{{ adv.what_for|linebreaks }}</p>
        </br>
    {% endif %}

{% for photo in photo_list %}
<a class="dwa" href="{{ MEDIA_URL }}{{ photo.image.name}}" rel="lightbox[kwiatki]"><img src="{% thumbnail photo.image 200x120 %}"></a>
{% endfor %}

{% if adv.user == user %}
    <p class="more"><a href="{% url adv_edit adv.id %}">edytuj</a></p>
{% else %}
    <p class="more"><a href="{% url adv_ans adv.id %}">odpisz</a></p>
{% endif %}

{% endblock %}
