<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
    <meta http-equiv="content-language" content="pl">
    <meta name="keywords" content="wymiana roślin, ogłoszenia, zamiana, oddawanie za darmo, przekazywanie kwiatków, rośliny donniczkowe">
    <meta name="description" content="Wymiana roślin pomiędzy użytkownikami. Oddawanie, lub przyjmowanie kwiatków.">

<title>Przygarnij Kwiatka</title>

<link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}lb/js/prototype.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lb/js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lb/js/lightbox.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}lb/css/lightbox.css" type="text/css" media="screen" />

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31798897-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
