{% extends 'base.html' %}
{% block content %}

<h2>Wymiana roślinek :)</h2>
    <p> Masz dużo roślinek, rozmnożyły Ci się paprotki, znudził kaktus? Tu możesz znaleźć ludzi z którymi zamienisz nudnego kaktusa na palmę lub koszyk bratków.</p>
    </br>

<h1>Jak to działa:</h1>
<ol>
    <li>Rejestrujesz się (za darmo)</li>
    <li>Dodajesz ogłoszenie</li>
    <li>Otrzymujesz maile od zainteresowanych wymianą osób</li>
</ol>

{% if lista %}
<h1>Najnowsze ogłoszenia:</h1>
<table class="dwa">
    <tr><th>Ogłoszenie</th><th>Miasto</th><th>Dodane</th></tr>
    {% for adv in lista %}
    <tr>
        <td class="{% cycle 'row1' 'row2' as rowcolors %}">
            <a href="{% url adv adv.pk %}">{{ adv.title }}</a></td>
        <td class="{{ rowcolors }}">{{ adv.city }}</td>
        <td class="{{ rowcolors }}">{{ adv.add_time|date:"d-m-y" }}</td>
    </tr>
    {%endfor%}

</table>

<p class="more"><a href="{% url adv_list %}">więcej</a></p>
{% endif %}

{% endblock %}
