{% extends 'base.html' %}
{% block content %}

<h2>Witaj {{ request.user }}</h2>
W panelu możesz edytować swoje ogłoszenia, dodawać i usuwać zdjęcia, oraz oznaczać już nieaktualne ogłoszenia. <br>
<h5><a class="dwa" href="{% url pass_change %}">zmiana hasła</a></h5>

<h1>Informacje o Tobie</h1>
{% if info %}
	{{ info.0.info|linebreaks }}
    <a class="dwa" href="{% url info %}">zmień</a>
	{% else %}
	Brak
    <a class="dwa" href="{% url info %}">dodaj</a>
{% endif %}
</br>
</br>

{% if lista %}
<h1>Twoje aktywne ogłoszenia</h1>
<table class="dwa">
    <tr><th>Nr</th><th>Tytuł ogłoszenia</th><th>Data dodania</th><th>Opcje</th><th>Odpowiedzi /</br>wyświetlenia</th></tr>
    {% for adv in lista %}
        <tr>
            <td class="{% cycle 'row1' 'row2' as rowcolors %}">{{ adv.pk }}</td>
            <td class="{{ rowcolors }}"><a href={% url adv adv.pk %}>{{ adv.title }}</a></td>
            <td class="{{ rowcolors }}">{{ adv.add_time|date:"d-m-y H:i" }}</td>
            <td class="{{ rowcolors }}"><a href="{% url adv_edit adv.pk %}"> edytuj </a> -
                <a href="{% url adv_del adv.pk %}"> usuń </a>
                <td class="{{ rowcolors }} text_right">{{ adv.interest_count }} / {{ adv.count }}</td>
        </tr>
    {%endfor%}
</table>
{% else %}
<p> Nie masz żadnych ogłoszeń. <a href="{% url adv_add %}">Dodaj ogłoszenie.</a></p>
{% endif %}

{% if answers %}
</br>
<h1>Ogłoszenia na które odpowiedziałeś</h1>
<table class="dwa">
    <tr><th>Nr</th><th>Tytuł ogłoszenia</th><th>Autor</th><th>Data dodania</th></tr>
    {% for ans in answers %}
        <tr>
            <td class="{% cycle 'row1' 'row2' as rowcolors %}">{{ ans.pk }}</td>
            <td class="{{ rowcolors }}"><a href={% url adv ans.pk %}>{{ ans.title }}</a></td>
            <td class="{{ rowcolors }}"><a href="{% url user ans.user %}">{{ ans.user }}</a></td>
            <td class="{{ rowcolors }}">{{ ans.add_time|date:"d-m-y H:i" }}</td>
        </tr>
    {%endfor%}
</table>
{% endif %}

{% endblock %}
