
<div id="footermainPan">
  <div id="footerPan">
  	<ul>
		<li><a href="{% url index %}">Home</a>| </li>
		<li><a href="{% url adv_list %}">Ogłoszenia</a>| </li>
		<li><a href="{% url profile %}">Panel</a>| </li>
		<li><a href="{% url register %}">Rejestracja</a>|</li>
		<li><a href="{% url login %}">Logowanie</a>|</li>
		<li><a href="{% url about %}">O stronie</a></li>
		</ul>
  	<ul class="templateworld">
		<li>&copy; 2011 Anna Sośnicka-Cieśla (sosna) | design by:<a href="http://www.templateworld.com">Template World</a></li>
  </ul>
  </div>
</div>
</div>
</body>
</html>
