<body>
    <div id="domek">
<div id="topPan">
    <!-- <a href="index.html"><img src="/images/logo.jpg" title="Floral Impact" alt="Floral Impact" width="448" height="45" border="0" class="logo" /></a> -->
        <ul>
            <li class="home"><a href="{% url index %}">home</a></li>
            <li class="sitemap"><a href="{% url profile %}">panel</a></li>
            <li class="contact"><a href="{% url about %}">kontakt</a></li>
        </ul>
        <a href="{% url index %}"><div id="kwadracik">  </div></a>
    </div>
<div id="bodytopPan">
    <div id="btleftPan">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
